body {
    /* margin: 20px; */
    background-color: #9379924d;
    /* background-color: #9379924d; 4d = opacité */
    /* plus de 6 caracteres = l'opacité  */
    /* #000000 = #000 (noir) */
    /* #ffffff = #fff (blanc) */
    /* pour choisir la police */
    color: purple;
    font-family: "Nosifer", sans-serif;
}

h1 {
    font-family: "Nosifer", sans-serif;
    font-size: x-large;
}

h2 {
    font-family: "Nosifer", sans-serif;
    font-size: large;
}

p {
    font-family: "PT Serif", serif;
    font-size: medium;
}

li {
    font-family: "PT Serif", serif;
    font-size: medium;
}

nav {
    font-family: "PT Serif", serif;
    font-size: medium;
}

/* pour mettre l'image dans un cercle */
img {
    /* border-radius  */
    border-radius: 50%;
    width: 150px;
    /* de base c'est un inline-block, donc je le règle en bloc */
    display: block;
    /* pour centrer l'élément */
    margin: auto;
    /* bordeur-width: 10px;
    border-color: red; 
    /* border-style: solid; */
    border: 5px wheat solid;
}
/* Pour les images des personnages */
.toi {
    border-radius: 25%;
    width: 125px;
    border: 5px wheat solid;
    /* Pour que les images soit tout à gauche */
    margin-left: 0;
}
nav {
    background-color: #f5deb3;
    position: fixed;
    /* inset = top: 0; right: 0; bottom: 0; left: 0 */
    inset: 0;
    display: grid;
    /* pour que les mots soient proches */
    align-content: center;
    /* pour mettre les mots au millieu */
    justify-content: center;
    gap: 20px;
    /* pour bien centrer les deux mots */
    text-align: center;
}
/* responsible : les choses sont fluides, et quand c'est trop grand on refait la mise en page */
@media (min-width: 800px) {
    img {
        width: calc(100% * 3 / 7);
    }
    .wrapper {
        display: grid;
        /* repeat : permet de faire des choses automatiquement*/
        grid-template-columns: 3fr 4fr;
        /* background-color: #8872c5; */
    }
}
@media screen and (max-width: 1024px) {
    .wrapper {
        margin: (0, 61px);
        /* width: 90%; */
    }
}
@media screen and (max-width: 800px) {
    .main {
        font-size: medium;
    }
}
/* div {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
} */
